<ul class="cluster-container">
<% @clusters.each do |cluster| %>
  <% if can? :manage, cluster %>
  <li class="cluster">
    <div class="cluster-image">
      <%= image_tag cluster.icon, alt: 'icon' %>
    </div>
    <h2><%= link_to cluster.name, cluster_associations_path(cluster_id: cluster.id) %></h2>
    <p>Transactions: <%= cluster.starts.count || 0 %></p>
  </li>
  <% end %>  
<% end %>
</ul>
