<p style="color: green"><%= notice %></p>

<div id="cluster-section">
  <%= render partial: '/clusters/cluster' %>
  <div class="add-b-container">
    <%= link_to 'ADD NEW CATEGORY', new_cluster_path, class: 'add-category' %>
  </div>
</div>
