<div class="pages-section">
    <div class="logo">
        <%= image_tag("logo.png")%>
    </div>

    <ul>
        <li class="active-button"><%= link_to "Log in", new_user_session_path %></li>
        <li class="unactive-button"><%= link_to "Sign up", new_user_registration_path %></li>
    </ul>
</div>
