<h1>Editing association</h1>

<%= render 'form', association: @association %>

<div>
  <%= link_to 'Show this relation', @association %> |
  <%= link_to 'Back to relations', associations_path %>
</div>
